.container {
  width: 100%;
  height: 100%;
  padding: 16px;
}

.box-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-item {
  width: 120px;
  height: 300px;
  background: #e0e0e0;
  margin: 8px;
  opacity: 0.8;
}
